<!--
  Generated template for the SalesChartsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sales-charts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding gated>

</ion-content>
