<ion-content padding-left padding-right>

  <ion-grid>
    <form [formGroup]="formLogin" (ngSubmit)="doLogin()">
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4 text-center>

          <img src="assets/imgs/patati-patata.png" />

        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <div class="item-input">
            <input type="text" id="login" required formControlName="login">
            <label for="login">Login</label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <div class="item-input">
            <input type="password" id="password" required formControlName="password">
            <label for="password">Sua senha</label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>

        <ion-col col-6 *ngFor="let category of categories">
          <button round [outline]="formLogin.value.category != category._id" ion-button type="button" [color]="formLogin.value.category === category._id ? 'secondary' : 'inputs'"
            block large (click)="setCategory(category._id)">
            {{category.description}}
          </button>
        </ion-col>
      </ion-row>
      <br>
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <button round ion-button block large [disabled]="formLogin.status === 'INVALID'" type="submit">
            Entrar
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab mini (click)="openSettings()">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
