sale-info {

  .expand-wrapper {}

  .collapsed {
    height: 0 !important;
    padding: 0 !important;

    .resume {
      padding: 0;
      transition: all 0.2s linear;
    }
  }

  .button-inner {
    white-space: normal !important;
    max-width: none !important;
    width: 100%;
  }

  .item-payment,
  .item-resume {
    padding: .2em 0;
    display: flex;
    justify-content: space-between !important;
  }

  .resume {
    background: #EEE;
    padding: .8em;
    border-radius: 6px;
    transition: all 0.2s linear;

  }

  ion-item {
    background: none !important;
    border: none !important;

  }

  .item-inner {
    border: 0 !important;
  }


}
