<div #expandWrapper class='expand-wrapper' [class.collapsed]="!expanded" [hidden]="!expanded">


  <div class="resume">

    <div *ngIf="!saleInfo?.items.length && expanded">
      Carregando...
    </div>

    <div class="items-resume">
      <div class="item-resume" *ngFor="let item of saleInfo?.items">
        <div>

          <span *ngIf="!enabledCancel">{{item.complement}}</span>
          <ion-item *ngIf="enabledCancel">
            <ion-label text-wrap>
              {{item.complement}} <ion-badge *ngIf="item.status == 'cancelled'" color="danger">Cancelado</ion-badge>
              <ion-badge *ngIf="item.status == 'exchange'" color="success">Item trocado</ion-badge>

            </ion-label>
            <ion-checkbox *ngIf="item.status != 'cancelled'" [hidden]="item.status  === 'exchange'"
              (ionChange)="selectItem(item)"></ion-checkbox>
          </ion-item>
        </div>
        <div>{{item.qtd}} x {{item.price | currency:' ':'symbol'}} = {{item.amount | currency:'BRL':'symbol'}}</div>
      </div>
      <hr>
      <div class="item-payments">
        <div class="item-payment" *ngFor="let payment of saleInfo?.payments">
          <div>{{payment.payment}}</div>
          <div>{{payment.amount | currency:'BRL':'symbol'}}</div>
        </div>
      </div>
      <hr *ngIf="enabledCancel">
      <div *ngIf="enabledCancel" class="actions">
        <button ion-button (click)="printer(sale)">
          2º Via
        </button>
        <button ion-button [disabled]="itemsSelected.sat" color="warning" (click)="fiscal(sale)">
          SAT
        </button>
        <button ion-button [disabled]="itemsSelected.length === 0" color="secondary" (click)="doChange(sale)">
          Fazer troca
        </button>
        <button ion-button [disabled]="itemsSelected.length === 0" color="danger" (click)="doCancel(sale)">
          Cancelar
        </button>
      </div>
    </div>

  </div>
</div>
