<ion-header>

  <ion-navbar [color]=" actionSangria == 'up' ? 'danger' : 'primary'">
    <ion-title>Fazer {{actionSangria == 'up' ? 'sangria' : 'reforço de caixa'}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row [hidden]="!actionSangria">
      <ion-col padding-top padding-left padding-right col-12>
        <div class="item-input">
          <input #amountInput type="tel" id="amount" [(ngModel)]="amount" required currencyMask>
          <label for="amount">{{ actionSangria === 'down' ? 'Valor à ser adicionado' : 'Valor à ser retidado' }}</label>
        </div>
      </ion-col>
      <ion-col padding-left padding-right col-12>
        <button large ion-button block (click)="doSangria()"
          color="{{ actionSangria === 'up' ? 'danger' : 'primary' }}">
          Confirmar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
