page-sangria {
  ion-card{
    cursor: pointer;

    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }

}
