<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lista de Produtos</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="doCloseModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button large icon-only padding (click)="doUpdateListProducts()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button large icon-only padding (click)="gridOrList()">
        <ion-icon [name]="!list ? 'list' : 'grid'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-grid padding-top>
      <ion-row>
        <ion-col [hidden]="auth?.search?.description" col-2>
          <div class="item-input">
            <input #qtdEl type="number" id="qtd" (focus)="qtdEl.select()" [(ngModel)]="qtd" required>
            <label for="qtd">Quant.</label>
          </div>
        </ion-col>

        <ion-col col-10 *ngIf="auth?.search?.description">
          <input placeholder="Nome do produto" type="text" [(ngModel)]="querySearch">
        </ion-col>

        <ion-col col-6 [hidden]="auth?.search?.description">
          <div class="item-input">

            <input  #codeEl placeholder="Código do produto"
              (focus)="codeEl.select()" type="number" id="code" [(ngModel)]="code" required>

          </div>
        </ion-col>
        
        <ion-col [hidden]="auth?.search?.description" col-2>
          <div class="item-input">
            <button block ion-button large icon-only type="button" (click)="doAddItem()">
              <ion-icon name="add"></ion-icon>

            </button>
          </div>
        </ion-col>
        <ion-col col-2>
          <div class="item-input">
            <button block type="button" [disabled]="itemsQtdPlus <= 0" ion-button large icon-start color="secondary"
              (click)="doSelectItem()">
              <ion-icon name="checkmark"></ion-icon>
              OK
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content gated box-is-open>




  <h1 text-center [hidden]="products.length > 0">
    Nenhum produto disponivel
  </h1>

  <div class="products" [attr.list]="list">

    <div class="card-item"
      *ngFor="let product of (products | orderBy:auth.search.orderByDescription) | search:querySearch:true">
      <ion-card [attr.data-subcategory]="product.subcategory | colors">
        <ion-card-header (click)="doAdditionQtd(product)" text-wrap>
          <span>{{product.code}} - {{product.name}}</span>
          <br>
          {{product.price | currency:'BRL':'symbol'}}
        </ion-card-header>

        <ion-card-content>
          <div class="product-qtd">
            <div class="button-qtd">
              <button ion-button icon-only color="secondary" (click)="doAdditionQtd(product)">
                <ion-icon name="add"></ion-icon>
              </button>
            </div>
            <button ion-button clear class="qtd">
              {{product.qtd || 0}}
            </button>
            <div class="button-qtd">
              <button ion-button icon-only color="danger" (click)="doSubtractionQtd(product)">
                <ion-icon name="remove"></ion-icon>
              </button>
            </div>

          </div>
        </ion-card-content>
      </ion-card>
    </div>


  </div>



</ion-content>
