page-product-list,
page-close-cars {

  ion-buttons[end] {
    button[text] {
      background: #FFF !important;
      color: color($colors, primary) !important
    }
  }

  .products[list="true"] {
    .card-item {
      width: 100% !important;
    }
  }

  .products {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;

    ion-card {
      border-style: solid;
      border-top-width: 8px;
      border-bottom-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
    }



    .card-item {
      width: 50%;
    }




    .product-qtd {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;

      button {
        border-radius: 70% !important;
        width: 36px !important
      }

      .qtd {
        font-size: 2.4rem !important;
        padding: 0 10px !important;
        margin: .2em .3em;
        color: #000;
        background: white;
        border-radius: 70% !important;
        width: 36px !important
      }

    }

    ion-card-header {
      font-size: 2rem !important;
    }
  }

  input:focus {
    border-width: 1px;
  }

  .list-products {
    .product {

      padding: .5em 1em;
      border-bottom: 1px solid #CCC;

      font-size: 2rem;

      .product-info,
      .product-status {
        div {
          padding: .2em 0;
        }
      }

      .product-info {
        float: left;

        width: 80%;
      }

      .product-status {
        float: right;
      }

      .product-price {
        span {

          padding: .3rem .5rem;
          border-radius: 6px;
        }
      }

      .product-stock {
        span {
          padding: .3rem .5rem;
          border-radius: 6px;
        }
      }

    }

    .product:first-child {
      border-top: 1px solid #CCC;
    }


    .product-qtd {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;

      .qtd {
        font-size: 2.4rem !important;
        padding: 0 !important;
        margin: .3em;
      }
    }
  }

  .virtual-position {
    width: 100%
  }

}
