<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lançar estacionamento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="products">
    <div style="display: block; width: 100%; padding:1em;">
      <div class="item-input">
        <input [(ngModel)]="date" type="date">
        <label for="qtd">Escolha o dia</label>
      </div>
    </div>
    <div class="card-item" *ngFor="let product of products">
      <ion-card [attr.data-subcategory]="product.subcategory | colors">
        <ion-card-header text-wrap>
          <span>{{product.code}} - {{product.name}}</span>
          <br>
          {{product.price | currency:'BRL':'symbol'}}
        </ion-card-header>

        <ion-card-content>
          <div class="product-qtd">
            <div class="item-input">
              <input [(ngModel)]="product.qtd" type="tel">
              <label for="qtd">Quantidade</label>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer padding>
  <button [disabled]="products?.length === 0" block large color="secondary" ion-button (click)="send()">
    LANÇAR
  </button>
</ion-footer>
