<ion-header>

  <ion-navbar color="primary">
    <ion-title>Abertura de Caixa - {{date.format('DD/MM/YYYY HH:mm')}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding gated>
  <ion-grid>

    <form [formGroup]="formOpenCash" (ngSubmit)="doOpenCash()">

      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <div class="item-input">
            <input #valueInitCash type="tel" id="value" required formControlName="amount" currencyMask>
            <label for="value">Informe o valor</label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <button round large ion-button block type="submit" [disabled]="formOpenCash.status === 'INVALID'">
            Abrir
          </button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <button round large ion-button block type="button" color="danger" (click)="doLogOut()">
            Sair
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
