page-home,
close-volantes,
close-barracas {

  select {
    padding: 1em;
    width: 100%;

    option {
      padding: 2em;
    }
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      padding: 0 1em;
    }
  }

  .pays {

    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      padding: 0 1em;

    }

    button {
      border-radius: 70% !important;
      width: 36px !important
    }
  }

  .produtos {

    button {
      border-radius: 70% !important;
      width: 36px !important
    }


    height: 263px;
    overflow-y: scroll;


    .produto {


      display: flex;
      width: 100%;

      justify-content: space-between;

      font-size: 1.8rem;

      >div {
        width: calc(73% / 2);
      }



      .deletar {
        width: 8%;
      }

      .controlar {
        text-align: right;
        width: 18%;

      }

      .nome {
        text-align: left !important;


      }

      .calculo {}

      .nome,
      .calculo {
        margin-top: .7em;
        margin-left: 1em;
        text-align: right;
      }
    }
  }


  .item-name {
    font-size: .9em !important;
    padding: 0 !important;
    width: 40%;

    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .item-qtd-price-calc {
    text-align: right !important;
  }

  .sale-item-header {
    display: flex;
    justify-content: space-between;
  }

  button[color="danger"] {
    background: color($colors, danger) !important;
    color: #FFF !important;
  }

  ion-badge {
    font-size: .9em;
  }

  ion-col {
    margin: 0 !important;
  }

  input:focus+label,
  input:valid+label {
    padding: 0 .2em;
    margin: 7px 0 0 10px;
    font-size: 100%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    top: 2px;

    background: linear-gradient(#f8f8f8, #FFF);
    color: color($colors, primary);
    font-weight: bold;
    transition: all 200ms;


  }

  table {
    width: 100%;
    margin: 0 auto;

    font-size: 1.8rem;

    tbody {

      tr:last-child,
      tr:nth-child(3) {
        border: none;
      }

      tr {}

      button {
        border-radius: 70% !important;
        width: 36px !important
      }

    }

  }

  .list-products {
    font-size: 1.5rem;

  }

  .payments {
    text-align: center;
  }

  .products {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;

    ion-card {
      border-style: solid;
      border-top-width: 4px;
      border-bottom-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
    }



    .card-item {
      width: 50%;
    }




    .product-qtd {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;

      button {
        border-radius: 70% !important;
        width: 36px !important
      }

      .qtd {
        font-size: 2.4rem !important;
        padding: 0 10px !important;
        margin: .2em .3em;
        color: #000;
        background: white;
        border-radius: 70% !important;
        width: 36px !important
      }

    }

    ion-card-header {
      font-size: 2rem !important;
    }
  }

}
