<ion-header>
  <ion-navbar color="primary">

    <ion-buttons left>
      <button round color="danger" *ngIf="items.length > 0" ion-button outline type="button" (click)="items=[];payments=[
          ];focusQtd();resend=false; productsToCancel=null; doSearchItem()">
        Cancelar
      </button>
    </ion-buttons>

    <ion-title>
      Vendas - {{date?.format('DD/MM/YYYY HH:mm')}}
    </ion-title>

    <ion-buttons end>

      <button ion-button large padding icon-start (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
        Menu
      </button>
    </ion-buttons>

  </ion-navbar>


</ion-header>

<ion-content padding-top gated box-is-open>

  <ion-grid [hidden]="auth.user.isAdmin && !auth.boxIsOpen">
    <form [formGroup]="formSale" (ngSubmit)="doAddItem()">
      <ion-row>
        <ion-col col-2>
          <div class="item-input">
            <input #qtd formControlName="qtd" type="number" id="qtd" (focus)="qtd.select()" required>
            <label for="qtd">Quant.</label>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="item-input">
            <input #code formControlName="code" placeholder="Código do produto" (focus)="code.select()" type="number"
              name="code" id="code" required>
          </div>
        </ion-col>
        <ion-col col-2>
          <div class="item-input">
            <button block ion-button large icon-only type="button" (click)="doSearchItem()">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col col-2>
          <div class="item-input">
            <button block color="secondary" large [disabled]="formSale.status === 'INVALID'" ion-button type="submit">
              Ok
            </button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <hr [hidden]="auth.user.isAdmin && !auth.boxIsOpen">

  <ion-grid class="list-products">

    <ion-row justify-content-center align-items-center>
      <ion-col col-12>

        <div class="produtos" [hidden]="items.length === 0">

          <div class="produto" *ngFor="let item of items;let i = index">
            <div class="deletar">
              <button ion-button color="danger" (click)="doRemoveItem(i)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </div>
            <div class="nome">
              {{item.code}} - {{item.name}}
            </div>
            <div class="calculo">
              {{item.qtd}} x {{item.price | currency:' ':'symbol'}} = {{item.amount | currency:'BRL':'symbol'}}
            </div>
            <div class="controlar">
              <button ion-button color="danger" [hidden]="item.qtd == 1" (click)="doSubtractionQtd(i)">
                <ion-icon name="remove"></ion-icon>
              </button>
              <button ion-button color="secondary" (click)="doAdditionQtd(i)">
                <ion-icon name="add"></ion-icon>
              </button>
            </div>
          </div>

        </div>

        <div text-center [hidden]="items.length > 0">
          <h2> {{ auth.boxIsOpen ? 'Nenhum produto selecionado' : 'Seu caixa não foi aberto.'
            }} </h2>
          <h2 [hidden]="auth.boxIsOpen">
            Venda após abrir caixa.
          </h2>
          <button (click)="openCashBox()" [hidden]="auth.boxIsOpen" ion-button large>Abrir caixa </button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>


    <ion-grid>
      <ion-col [hidden]="items.length > 0">
        <div class="sale-item-header">
          <div>
            Terminal: {{auth?.terminal?._id}}
          </div>
          <div>Ult. Pedido: {{sale?.sequencia}}</div>
        </div>
      </ion-col>

      <ion-row [hidden]="items.length === 0">
        <div class="info">
          <div class="total">
            <h4 text-center>Total: <span ion-text color="secondary">{{totalAmount | currency:'BRL':'symbol'}}</span>
            </h4>
          </div>
          <div class="falta">
            <h4 text-center [hidden]="totalPayments - totalAmount > 0">A pagar: <span ion-text color="danger">{{((totalAmount
                - totalPayments) < 0 ) ? 0 : totalAmount - totalPayments | currency:'BRL':'symbol'}}</span> </h4>
            <h4 [hidden]="totalPayments - totalAmount <= 0" text-center>Troco: <span ion-text color="secondary">{{
                    totalPayments - totalAmount | currency:'BRL':'symbol' }}</span> </h4>
          </div>
        </div>
        <div class="pays" *ngFor="let pay of payments; let i = index">
          <div class="total">
            <button [hidden]="pay.fixed" ion-button color="danger" (click)="removePayment(i)">
              <ion-icon name="close"></ion-icon>
            </button>
          </div>
          <div class="falta">
            <h4> {{pay.method }} - {{pay.amount | currency:'BRL':'symbol'}}</h4>
          </div>
        </div>
      </ion-row>
      <ion-row [hidden]="items.length === 0">



        <ion-col *ngIf=" totalAmount > 0" col-4 [hidden]="resend">
          <div class="item-input">
            <input #totalAmountPaymentRef (focus)="totalAmountPaymentRef.select(); totalAmountPayment=0;" type="tel"
              [(ngModel)]="totalAmountPayment" currencyMask>
            <label for="qtd">Receber</label>
          </div>
        </ion-col>

        <ion-col>

          <ion-col *ngIf=" totalAmount === 0">
            <button block ion-button large (click)="finishOrderFree()">
              Finalizar
            </button>
          </ion-col>

          <button *ngIf=" totalAmount > 0" [hidden]="!resend" block ion-button large (click)="setPayment({})">
            Finalizar
          </button>
          <span *ngIf=" totalAmount > 0">
            <button *ngFor="let payment of paymentsList | paymentOrder" [hidden]="resend" [disabled]="totalAmountPayment <= 0" large
              color="secondary" ion-button (click)="setPayment(payment)">
              {{payment.method}}
            </button>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
