<ion-list>
  <ion-item class="title-item" text-right>
    Caixa - {{auth.user.login}}
  </ion-item>
  <button *ngIf="auth.boxIsOpen" ion-item (click)="doOpenSales()">
    <ion-icon color="primary" name="list" item-start></ion-icon>
    Vendas
  </button>

  <button ion-item (click)="doUpdateListProducts()">
    <ion-icon color="primary" name="refresh" item-start></ion-icon>
    Atualizar produtos
  </button>

  <button ion-item (click)="doOpenStock()">
    <ion-icon color="primary" name="download" item-start></ion-icon>
    Receber produtos
  </button>

  <button *ngIf="auth.user.isAdmin" ion-item (click)="doOpenRegistersClosed()">
    <ion-icon color="primary" name="list" item-start></ion-icon>
    Fechamentos do dia
  </button>
  <button *ngIf="auth.user.isAdmin" ion-item (click)="doOpenCloseVolantes()">
    <ion-icon color="primary" name="list" item-start></ion-icon>
    Fechar volantes
  </button>
  <button *ngIf="auth.user.isAdmin" ion-item (click)="doOpenCloseBarracas()">
    <ion-icon color="primary" name="list" item-start></ion-icon>
    Fechar barracas
  </button>
  <button *ngIf="auth.boxIsOpen" ion-item (click)="doCloseCash()">
    <ion-icon color="primary" name="cube" item-start></ion-icon>
    Fechar Caixa
  </button>
  <button *ngIf="!auth.boxIsOpen" ion-item (click)="doOpenCash()">
    <ion-icon color="primary" name="cube" item-start></ion-icon>
    Abrir Caixa
  </button>
  <button ion-item *ngIf="auth.boxIsOpen" (click)="doSangria('down')">
    <ion-icon color="primary" name="arrow-down" item-start></ion-icon>
    Reforço
  </button>
  <button ion-item *ngIf="auth.boxIsOpen" (click)="doSangria('up')">
    <ion-icon color="danger" name="arrow-up" item-start></ion-icon>
    Sangria
  </button>
  <ion-item class="title-item" text-right>
    Terminal
  </ion-item>
  <button ion-item (click)="openSettings()">
    <ion-icon color="primary" name="settings" item-start></ion-icon>
    Configurações
  </button>
  <button ion-item (click)="doLogOut()">
    <ion-icon color="primary" name="exit" item-start></ion-icon>
    Sair
  </button>
</ion-list>
