<ion-header>

  <ion-navbar color="primary">
    <ion-title>Fechamento de Caixa - {{date.format('DD/MM/YYYY HH:mm')}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding gated box-is-open>
  <ion-grid>

    <ion-row justify-content-center align-items-center>
      <table>
        <tbody>
          <tr>
            <td>Saldo inicial:</td>
            <td> {{registerCash.beginning_cash | currency:'BRL':'symbol'}} </td>
          </tr>
          <tr>
            <td>Total saidas: </td>
            <td> {{registerCash.total_pick_up | currency:'BRL':'symbol'}} </td>
          </tr>
          <tr>
            <td>Total reforço: </td>
            <td> {{registerCash.total_change | currency:'BRL':'symbol'}} </td>
          </tr>
        </tbody>
      </table>
    </ion-row>
    <hr>

    <ion-row justify-content-center align-items-center>

      <h1 text-center *ngIf="registerCash.qt_orders === 0">
        Nenhuma venda registrada
      </h1>

      <table *ngIf="registerCash.qt_orders > 0">
        <thead>
          <tr>
            <th>Finalizadora</th>
            <th hidden>Vendas</th>
            <th>Informar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let detail of registerCash.details | paymentOrder">
            <td>{{detail.method}}</td>
            <td hidden> {{detail.secret | currency:'BRL':'symbol'}}</td>
            <td>
              <input autofocus placeholder="R$ 0,00" [(ngModel)]="detail.filled" type="tel" currencyMask>
            </td>
          </tr>
        </tbody>
        <br>
        <tfoot>
          <tr>
            <td>
              Total:
            </td>
            <td colspan="2">
              {{ totalFilled || 0 | currency:'BRL':'symbol'}}
            </td>
          </tr>
        </tfoot>

      </table>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row justify-content-center align-items-center>
    <ion-col col-lg-6>
      <button ion-button block large [color]="confirmed ? 'danger' : 'primary'" type="button" (click)="doCloseCash()">
        {{!confirmed ? 'confirmar' : 'Fechar caixa'}}
      </button>
    </ion-col>
  </ion-row>

</ion-footer>
