<ion-header>
  <ion-navbar color="primary">
    <ion-title>Configurações</ion-title>
    <ion-buttons end>
      <button ion-button (click)="!advanced ? settingsAdvanced() : advanced = false">{{ advanced ? 'Basico' :
        'Avançado' }}</button>
      <button ion-button>
        <ion-spinner [hidden]="!loading" color="light"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>




  <ion-list no-lines>

    <ion-item-group>

      <ion-item-divider [hidden]="!core" color="light">
        Auto Configurações
      </ion-item-divider>

      <button [hidden]="!core" ion-item color="dark" (click)="autoConfig()">
        <ion-icon name="qr-scanner" item-start></ion-icon>
        Usar QRCode
      </button>

      <ion-item-divider color="light" *ngIf="advanced">
        Filial
      </ion-item-divider>

      <div *ngIf="advanced" margin-left margin-right margin-top class="item-input">
        <input type="text" id="branch" required [(ngModel)]="terminal.branch">
        <label for="branch">Código Filial</label>
      </div>

      <div *ngIf="advanced" margin-left margin-right margin-top class="item-input">
        <input type="text" id="branch_ref" required [(ngModel)]="terminal.branch_ref">
        <label for="branch_ref">Filial - PECOD</label>
      </div>

      <ion-item-divider color="light">
        Operações de fechamento
      </ion-item-divider>

      <ion-item>
        <ion-label>Fechamento de Barracas</ion-label>
        <ion-select interface="action-sheet" cancelText="CANCELAR" [(ngModel)]="terminal.operacao_barraca">
          <ion-option *ngFor="let operacao of operacoes" [value]="operacao.oecod">{{operacao.oedescricao}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item hidden>
        <ion-label>Fechamento cego</ion-label>
        <ion-toggle [(ngModel)]="terminal.fechamento_cego"></ion-toggle>
      </ion-item>


      <ion-item-divider color="light">
        Opções de busca
      </ion-item-divider>

      <ion-item>
        <ion-label>Tela de produtos após venda</ion-label>
        <ion-toggle [(ngModel)]="auth.search.openProductList"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Buscar por nome do produto</ion-label>
        <ion-toggle [(ngModel)]="auth.search.description"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Ordenar por descrição</ion-label>
        <ion-toggle [(ngModel)]="auth.search.orderByDescription"></ion-toggle>
      </ion-item>

      <ion-item-divider color="light">
        Impressora
      </ion-item-divider>

      <div margin-left margin-right margin-top class="item-input">
        <input type="text" id="printer" required [(ngModel)]="terminal.printer.address"
          (ngModelChange)="printerOk=false">
        <label for="printer">Ip da impressora</label>
      </div>

      <ion-item>
        <ion-label>Impressão pelo app</ion-label>
        <ion-toggle [(ngModel)]="terminal.printer.print.app" (ngModelChange)="printerOk=false"></ion-toggle>
      </ion-item>

      <button class="item-btn"
        [disabled]="loading || printerMessage=='Testando...' || !terminal.printer.address || printerOk" ion-item
        color="primary" (click)="testerPrinter()">
        {{ printerOk ? 'Impressora conectada' : printerMessage}}
      </button>

      <ion-item-divider color="light">
        Realizar impressão de:
      </ion-item-divider>

      <ion-item>
        <ion-label>Abertura de Caixa?</ion-label>
        <ion-toggle [(ngModel)]="terminal.printer.print.openRegister"></ion-toggle>
      </ion-item>


      <ion-item>
        <ion-label>Sangria?</ion-label>
        <ion-toggle [(ngModel)]="terminal.printer.print.pickupMoney"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label> Reforço de Caixa?</ion-label>
        <ion-toggle [(ngModel)]="terminal.printer.print.entryChange"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Venda Item a Item?</ion-label>
        <ion-toggle [(ngModel)]="terminal.printer.print.receiptAsItem"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label> Venda completa? </ion-label>
        <ion-toggle [(ngModel)]="terminal.printer.print.receiptComplete"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label> Fechamento de Caixa?</ion-label>
        <ion-toggle [(ngModel)]="terminal.printer.print.closeRegister"></ion-toggle>
      </ion-item>

      <ion-item-divider color="light">
        Terminal
      </ion-item-divider>

      <div margin-left margin-right margin-top class="item-input">
        <input [disabled]="auth.user.account_bank" type="number" id="register" required [(ngModel)]="terminal._id">
        <label for="register">N° do terminal</label>
      </div>

      <ion-item-divider color="light">
        Servidor
      </ion-item-divider>

      <div margin-left margin-right margin-top class="item-input">
        <input type="text" id="baseURL" required [(ngModel)]="terminal.baseURL">
        <label for="baseURL">Endereço do servidor</label>
      </div>

      <button class="item-btn" [disabled]="loading" ion-item color="primary" (click)="saveSettings()">
        Salvar
      </button>


      <ion-item class="item-btn">
        <ion-label> v {{versionApp}}</ion-label>
      </ion-item>

    </ion-item-group>

  </ion-list>



</ion-content>
