page-settings {
  ion-item {
    padding: 0;
    margin: 0;
  }

  .item-btn {
    text-align: center !important
  }

  ion-item-divider {
    border-top: 1px solid #DDD !important;
  }
}
