page-sales-summary,
page-registers-closed,
page-receive-products {
  .sale-items-list {}

  .sale-item {
    font-size: 18px;
    padding: 1em;
    border-bottom: 1px solid #EEE;
  }

  .sale-item:nth-child(even) {
    background: #FFF
  }

  .sale-item:nth-child(odd) {
    background: #EEE
  }

  .sale-item-header,
  .sale-item-footer {
    display: flex;
    justify-content: space-between;
    padding: .3em 0;
  }

  .featured {
    border: 3px solid color($colors, primary);
  }

  .actions {
    text-align: right
  }

  ion-label {
    text-overflow: initial !important
  }

}
