<ion-header>

  <ion-navbar [color]="ordersType === 'out' ? 'primary' : 'danger'">
    <ion-title>{{ordersType === 'out' ? 'Resumo de Vendas' : 'Vendas Canceladas'}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeToSummary()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-segment mode="ios" [color]="ordersType === 'out' ? 'primary' : 'danger'" padding (ionChange)="tabChange($event)"
    [(ngModel)]="ordersType">
    <ion-segment-button value="out">
      Fechados
    </ion-segment-button>
    <ion-segment-button value="in">
      Cancelados
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar [(ngModel)]="query" placeholder="Filtrar por sequencia..." ></ion-searchbar>

  <h1 text-center *ngIf="( salesSummary[ordersType] | search:query).length ===0 ">
    Nenhuma venda registrada
  </h1>

  <div class="sale-items-list">
    <div class="sale-item" [class.featured]="sale.expanded" *ngFor="let sale of ( salesSummary[ordersType] | search:query)">
      <div class="sale-item-header" (click)="doOpenCardSale(sale)">
        <div>
          Data: {{sale.created | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div>Seq: {{sale.sequence}}</div>
      </div>
      <div class="sale-item-footer">
        <div *ngIf="sale.cpf"> CPF: {{sale.cpf || 'N/D'}}</div>
        <div *ngIf="sale.summary.change > 0">Troco: {{sale.summary.change | currency:'BRL':'symbol'}}
        </div>
        <div> {{sale.summary.amount | currency:'BRL':'symbol'}} </div>
      </div>
      <sale-info [expandHeight]="100" [expanded]="sale.expanded" [sale]="sale" [saleInfo]="sale.info" [enabledCancel]="(ordersType === 'out')"></sale-info>
    </div>
  </div>
</ion-content>
