<ion-menu persistent="true" [content]="content" side="right">

  <ion-content>

    <ion-list no-lines class="menuSide">

      <ion-item class="title-item" text-right>
        Caixa: {{auth.user.login}}
      </ion-item>

      <button class=" orders firstButtom" menuClose *ngIf="auth.boxIsOpen" ion-item (click)="doOpenSales()">
        <ion-icon color="primary" name="list" item-start></ion-icon>
        Vendas
      </button>

      <button class="orders" menuClose ion-item (click)="doUpdateListProducts()">
        <ion-icon color="primary" name="refresh" item-start></ion-icon>
        Atualizar produtos
      </button>

      <button class="orders" menuClose ion-item (click)="doOpenStock()">
        <ion-icon color="primary" name="clipboard" item-start></ion-icon>
        Receber produtos
      </button>

      <button class="orders" menuClose *ngIf="auth.user.isAdmin" ion-item (click)="doOpenRegistersCars()">
        <ion-icon color="primary" name="car" item-start></ion-icon>
        Lançar estacionamento
      </button>

      <button class="orders" menuClose *ngIf="auth.user.isAdmin" ion-item (click)="doOpenRegistersClosed()">
        <ion-icon color="primary" name="list" item-start></ion-icon>
        Fechamentos do dia
      </button>

      <button class="orders" menuClose *ngIf="auth.user.isAdmin" ion-item (click)="doOpenCloseVolantes()">
        <ion-icon color="primary" name="person" item-start></ion-icon>
        Fechar volantes
      </button>

      <button class="orders" menuClose *ngIf="auth.user.isAdmin" ion-item (click)="doOpenCloseBarracas()">
        <ion-icon color="primary" name="list" item-start></ion-icon>
        Fechar barracas
      </button>

      <ion-item class="title-item" text-right>
        Caixa
      </ion-item>


      <button menuClose ion-item (click)="setPaymentAvaria()">
        <ion-icon color="primary" name="arrow-down" item-start></ion-icon>
        Avaria
      </button>

      <button menuClose ion-item (click)="setPaymentCortesia()">
        <ion-icon color="primary" name="ribbon" item-start></ion-icon>
        Cortesia
      </button>

      <button menuClose *ngIf="auth.boxIsOpen" ion-item (click)="doCloseCash()">
        <ion-icon color="primary" name="phone-portrait" item-start></ion-icon>
        Fechar Caixa
      </button>
      <button menuClose *ngIf="!auth.boxIsOpen" ion-item (click)="doOpenCash()">
        <ion-icon color="primary" name="phone-portrait" item-start></ion-icon>
        Abrir Caixa
      </button>
      <button menuClose ion-item *ngIf="auth.boxIsOpen" (click)="doSangria('down')">
        <ion-icon color="primary" name="arrow-down" item-start></ion-icon>
        Reforço
      </button>
      <button menuClose ion-item *ngIf="auth.boxIsOpen" (click)="doSangria('up')">
        <ion-icon color="danger" name="arrow-up" item-start></ion-icon>
        Sangria
      </button>


      <ion-item class="title-item" text-right>
        Terminal
      </ion-item>

      <button menuClose ion-item (click)="openSettings()">
        <ion-icon color="primary" name="settings" item-start></ion-icon>
        Configurações
      </button>
      <button menuClose ion-item (click)="doLogOut()">
        <ion-icon color="primary" name="exit" item-start></ion-icon>
        Sair
      </button>

      <ion-item class="title-item" text-right>
        App - {{versionApp}}
      </ion-item>

      <button *ngIf="core" menuClose ion-item (click)="checkUpdate(true)">
        <ion-icon color="primary" name="logo-android" item-start></ion-icon>
        Verificar atualização
      </button>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
