.item-input {
  position: relative;
  margin-bottom: 1.5rem;
}

label {
  position: absolute;
  top: 15px;
  left:0;
  margin: 7px 0 0 20px;
  transition: all .2s;
  opacity: 0.5;
}

input:focus+label,
input:valid+label,
input:disabled+label {
  padding: 0 .2em;
  margin: 7px 0 0 10px;
  font-size: 100%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  top: 2px;
  background: color($colors, white);
  color: color($colors, primary);
  font-weight: bold;
  transition: all 200ms;
}

[data-subcategory="salgados"] {
  border-top-color: color($colors, salgados) !important;
}

[data-subcategory="bebidas"] {
  border-top-color: color($colors, bebidas) !important;
}

[data-subcategory="doces"] {
  border-top-color: color($colors, doces) !important;
}

[data-subcategory="loja"] {
  border-top-color: color($colors, loja) !important;
}

[data-subcategory="lojinha"] {
  border-top-color: color($colors, loja) !important;
}

[data-subcategory="foto"] {
  border-top-color: color($colors, foto) !important;
}

[data-subcategory="chaveiro"] {
  border-top-color: color($colors, chaveiro) !important;
}

[data-subcategory="danger"] {
  border-top-color: color($colors, danger) !important;
}

[data-subcategory="secondary"] {
  border-top-color: color($colors, secondary) !important;
}

input {
  padding: 1.2em;
  width: 100%;
  height: 60px;
  border: 1px solid #CCC;
  border-radius: 5px;
  resize: none;
  transition: all 1s;
}

input:focus {
  border-color: color($colors, primary);
  border-width: 1.8px;
  transition: all 200ms;

}



ion-card {
  border-radius: 8px !important;
}

ion-title {
  text-align: center
}


table {
  font-size: 1.5em;
  width: 100%;

  td {
    padding: .2em 0 !important;
  }

  tr {
    text-align: left;
  }

  tr td:last-child {
    text-align: right
  }

  tr th {
    padding: 0 0 0 5px
  }

  tr th:last-child {
    text-align: right;
  }

  tr td:nth-child(3) {
    width: 180px;
  }

  tfoot {
    border-top: 1px solid #CCC;
  }
}

ion-modal {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.clear {
  clear: both;
}



* {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.transparentBody {
  background: transparent !important;
}

.menuSide {
  .firstButtom {
    border-top: 1px solid rgba(240, 237, 237, .5) !important;
  }

 

  button[ion-item] {
    border-bottom: 1px solid rgba(240, 237, 237, .5) !important;

    ion-icon {

      box-shadow: 1px 0px 3px #CCC;
      padding: 8px 5px;
      font-size: 25px;
      border-radius: 5px;
      display: block;
      width: 40px;
      height: 40px;

    }
  }

  .title-item {
    font-weight: bold;
    background: rgba(240, 237, 237, .5);
    color: color($colors, primary)
  }
}
