<ion-header>
  <ion-navbar color="primary">

    <ion-buttons left>
      <button round color="danger" *ngIf="items.length > 0" ion-button outline type="button" (click)="items=[];payments=[
            ];focusQtd();resend=false;">
        Cancelar
      </button>
    </ion-buttons>

    <ion-title>
      Fechar barraca - {{date?.format('DD/MM/YYYY HH:mm')}}
    </ion-title>

  </ion-navbar>


</ion-header>

<ion-content gated box-is-open>

  <ion-grid class="vendor">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            Selecione o vendedor
          </ion-label>
          <ion-select interface="action-sheet" cancelText="CANCELAR" [(ngModel)]="vendor">
            <ion-option *ngFor="let user of users" [value]="user" [hidden]="user._id === auth.user._id">{{user.name | uppercase}}
            </ion-option>
          </ion-select>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [hidden]="!vendor">
    <form [formGroup]="formSale" (ngSubmit)="doAddItem()">
      <ion-row>
        <ion-col col-2>
          <div class="item-input">
            <input #qtd formControlName="qtd" type="number" id="qtd" (focus)="qtd.select()" required>
            <label for="qtd">Quant.</label>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="item-input">
            <input #code formControlName="code" placeholder="Código do produto" (focus)="code.select()" type="number"
              name="code" id="code" required>
          </div>
        </ion-col>
        <ion-col col-2>
          <div class="item-input">
            <button block ion-button large icon-only type="button" (click)="doSearchItem()">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col col-2>
          <div class="item-input">
            <button block color="secondary" large [disabled]="formSale.status === 'INVALID'" ion-button type="submit">
              Ok
            </button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <hr>

  <ion-grid class="list-products" [hidden]="!vendor">

    <ion-row justify-content-center align-items-center>
      <ion-col col-12>

        <table hidden>


          <tbody>

            <tr margin-top *ngFor="let item of items;let i = index" [hidden]="i>limitItemsView-1">
              <td>
                <button ion-button color="danger" (click)="doRemoveItem(i)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </td>
              <td class="item-name"> {{item.code}} - {{item.name}}</td>
              <td class="item-qtd-price-calc">
                <ion-badge color="light">
                  {{item.price | currency:' ':'symbol'}} x {{item.qtd}} = {{item.amount | currency:'BRL':'symbol'}}
                </ion-badge>
              </td>
              <td>
                <button ion-button color="danger" [hidden]="item.qtd == 1" (click)="doSubtractionQtd(i)">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <button ion-button color="secondary" (click)="doAdditionQtd(i)">
                  <ion-icon name="add"></ion-icon>
                </button>
              </td>
            </tr>
            {{limitItemsView}}
            <tr [hidden]="(items.length - limitItemsView) <= 0">
              <td text-center colspan="4">
                <button ion-buttom (click)="(limitItemsView == 3) ? limitItemsView = items.length : limitItemsView = 3">
                  Mais {{items.length - 3}} produtos
                </button>

              </td>
            </tr>

          </tbody>
          <br>
          <tfoot>
            <tr>
              <td>
                Total
              </td>
              <td>
                {{totalItems}} produtos
              </td>
              <td colspan="2">
                {{ totalAmount || 0 | currency:'BRL':'symbol'}}
              </td>
            </tr>
            <tr hidden>
              <td>
                {{ (totalAmountPayment - totalAmount) < 0 ? 'Falta' : 'Troco' }} </td>
              <td colspan="3">
                {{ (totalAmountPayment - totalAmount) > 0 ? (totalAmountPayment - totalAmount |
                  currency:'BRL':'symbol' ) : totalAmount - totalAmountPayment | currency:'BRL':'symbol'}} <br>

              </td>
            </tr>
          </tfoot>

        </table>

        <div class="produtos" [hidden]="items.length === 0">

          <div class="produto" *ngFor="let item of items;let i = index">
            <div class="deletar">
              <button ion-button color="danger" (click)="doRemoveItem(i)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </div>
            <div class="nome">
              {{item.code}} - {{item.name}}
            </div>
            <div class="calculo">
              {{item.qtd}}x{{item.price | currency:' ':'symbol'}} = {{item.amount | currency:'BRL':'symbol'}}
            </div>
            <div class="controlar">
              <button ion-button color="danger" [hidden]="item.qtd == 1" (click)="doSubtractionQtd(i)">
                <ion-icon name="remove"></ion-icon>
              </button>
              <button ion-button color="secondary" (click)="doAdditionQtd(i)">
                <ion-icon name="add"></ion-icon>
              </button>
            </div>
          </div>

        </div>

        <div text-center [hidden]="items.length > 0">
          <h2>Nenhum produto selecionado</h2>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>




</ion-content>

<ion-footer>
  <ion-toolbar>


    <ion-grid>
      <ion-row [hidden]="items.length === 0">
        <div class="info">
          <div class="total">
            <h4 text-right>Total: <span ion-text color="secondary">{{totalAmount | currency:'BRL':'symbol'}}</span>
            </h4>
          </div>
        </div>
      </ion-row>

      <ion-row [hidden]="items.length === 0">
        <button ion-button block large (click)="doOrder()">
          Finalizar
        </button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
