<ion-header>

  <ion-navbar color="primary">
    <ion-title>Recebimento de produtos</ion-title>
    <ion-buttons [hidden]="view === null" end (click)="openOrder(view)">
      <button ion-button solid color="danger">
        Cancelar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>


  <div padding text-center *ngIf="orders?.length === 0">
    <h3>Nenhuma pedido de compra em aberto</h3>
  </div>

  <div class="sale-items-list">

    <div class="sale-item" *ngFor="let order of orders" (click)="openOrder(order)"
      [hidden]="view != order?._id && view != null">
      <div class="sale-item-header">
        <div>
          Data: {{order?.created | date:'dd/MM/yyyy'}}
        </div>
        <div>N° Pedido: {{order?.number}}</div>
      </div>
      <div class="sale-item-footer">
        <div> Valor: {{order?.summary?.amount | currency:'BRL':'symbol'}}</div>
      </div>
    </div>

  </div>





  <form [formGroup]="form_order" [hidden]="!view">
    <ion-list formArrayName="items">
      <div *ngFor="let product of form_order.get('items').controls; let i = index;">
        <ion-item [formGroupName]="i">
          <ion-label><strong> Quant:</strong> {{product?.value?.qtd}} <br>
            <strong>Produto:</strong> {{product?.value?.name}} <br>
            <strong>Total:</strong> {{ product?.value?.total | currency:'BRL':'symbol' }}</ion-label>
          <ion-checkbox formControlName="selected" slot="end"></ion-checkbox>
        </ion-item>
      </div>

    </ion-list>
  </form>


</ion-content>

<ion-footer [hidden]="view === null">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button block ion-button large (click)="closeOrder()">
            Baixar pedido
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
