<ion-header>

  <ion-navbar color="primary">
    <ion-title>Emitir SAT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <form [formGroup]="formFiscal" (ngSubmit)="doLogin()">
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <div class="item-input">
            <input type="number" id="cpf" formControlName="cpf">
            <label for="cpf">CPF (opcional)</label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <div class="item-input">
            <input type="text" id="nome" formControlName="nome">
            <label for="nome">Nome (opcional)</label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <div class="item-input">
            <input type="text" id="email" formControlName="email">
            <label for="email">Email (opcional)</label>
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-row justify-content-center align-items-center>
        <ion-col col-lg-4>
          <button round ion-button block large [disabled]="formFiscal.status === 'INVALID'" type="submit">
            Emitir
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
