<ion-header>

  <ion-navbar color="primary">
    <ion-title>Fechamentos do dia</ion-title>
    <ion-buttons end *ngIf="registersPrintsProducts.length > 0">
      <button ion-button (click)="printAllProducts()">
        Imprimir produtos
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div padding-left padding-right padding-top class="item-input">
    <input type="date" [(ngModel)]="date" (change)="ngOnInit()">
    <label for="password">Data</label>
  </div>

  <div class="sale-items-list">

    <h1 text-center [hidden]="registers.length > 0">Nenhum fechamento disponível</h1>

    <div class="sale-item" *ngFor="let register of registers" [class.selected]="register.selected"
      (press)="rePrintProducts(register)" (click)="rePrint(register)">
      <div>
        N° Fech.: {{register.register}}
      </div>
      <div class="sale-item-header">
        <div>
          Abertura: {{register.openedAt | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div>Fechamento: {{register.closeAt | date:'dd/MM/yyyy HH:mm'}}</div>
      </div>
      <div class="sale-item-footer">
        <div> Operador: <ion-badge>{{register.operator}}</ion-badge>
        </div>
        <div> Total: {{register.total | currency:'BRL':'symbol'}}</div>

      </div>
    </div>
  </div>
</ion-content>